@page  "/Contact"
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<hr />
<p>Home  delivery  service:</p>
<p>All  the  city  of Stockholm (redacted) and  Malmö (redacted ) with additional cost. </p>
<p>Place to pick up order: Via  la  Costa  Avenue. Blue  Port  gated  neighbourhood. We will send you the GPS Location via WhatsApp. </p>
<p>Orders must be placed 2 days before for greater security, processing and availability.</p>
<p>Tuesday to Saturday 9 a.m. at 2 p.m.</p>
