@page 
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebcakeGuru</h1>
    <p>We offer you the most delicious cakes and cupcakes for all kinds of events and celebrations. Browse around to discover what you would like to buy.</p>
    
    <img src="~/images/1504184798.jpg" width="371" height="400" />
    <img src="~/images/TortaHappyBirthday.jpg" />
    <img src="~/images/2921601093.jpg" width="371" height="400" />    
    
</div>
